#home {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 100rpx 0;
    box-sizing: border-box;


    .birth-date{
        display: block;
        text-align: center;
        margin: auto;
        width: 10rpx;
        margin-top: 50rpx;
    }


    .m-calendar{
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 40rpx;
        box-sizing: border-box;
        background-color: rgba(0,0,0,1);
        opacity: 0;
        transition: all 0.5s;
        will-change: opacity;

        &.show {
            opacity: 1;
        }
    }
}


